.adminpage{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding:40px 20px;
  background-color: #e3f2fd;
  border: #007bff 1px solid;
  border-radius: 5px;
  margin: 40px 0px;
  width: 100%;
}

.blocks{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blocks div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

}

select, input, textarea{
  padding: 10px;
  background-color: #e3f2fd;
  border: #007bff 1px solid;
  border-radius: 10px;
  flex: 4;
}

label{
  flex: 1;;
}